// $primaryColor: rgb(70, 70, 255);
// $secondaryColor: rgb(113, 113, 255);
$primaryColor: #394468;
$secondaryColor: #778da9;
$danger: #dc3545;
$dangerHover: #bb2d3b;

$info: #0d6efd;
$infoHover: #0b5ed7;
