// $primaryColor: rgb(70, 70, 255);
// $secondaryColor: rgb(113, 113, 255);
$primaryColor: #394468;
$primaryColorHover: rgb(64, 77, 121);
$secondaryColor: #5e7797;
$danger: #dc3545;
$dangerHover: #bb2d3b;

$info: #0d6efd;
$infoHover: #0b5ed7;
